.dashboard-container {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-header-left {
  display: flex;
  align-items: center;
  gap: 32rem;
}

.dashboard-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  object-fit: cover;
}

.dashboard-title {
  color: var(--color-accent);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.dashboard-section {
  background: #1A1F2B;
      border: 2px solid #6E4F9E;
  color: #F2F2F0;
  padding: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.dashboard-section h2 {
  font-size: 1.8rem;
  color: #F2F2F0;
  margin-bottom: 0.5rem;
}
.section-desc {
  font-size: 0.9rem;
  color: var(--color-muted);
  margin-bottom: 1rem;
}

.campagne-list,
.archivio-buttons,
.generator-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.campagna-add-btn {
  padding: 1rem;
  border: 2px dashed var(--color-accent);
  color: var(--color-accent);
  border-radius: var(--radius);
  cursor: pointer;
}

.recap-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: var(--radius);
  color: var(--color-text);
}

.placeholder-box {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px dashed var(--color-muted);
  padding: 1.5rem;
  border-radius: var(--radius);
  color: var(--color-muted);
  text-align: center;
}

/* dashboard-generatori */
.dashboard-generatori {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
}
.dashboard-generatori-header {
  text-align: center;
  grid-column: span 3;
  margin-bottom: 1rem;
}

.dashboard-generatori-header h2 {
  font-size: 1.8rem;
  color: var(--color-accent);
  margin-bottom: 0.3rem;
}

.dashboard-generatori-header p {
  font-size: 0.9rem;
  color: var(--color-muted);
}

hr {
  border: none;
  border-top: 1px solid var(--color-muted);
  margin: 2rem 0;
}
@media (max-width: 1024px) {
  .dashboard-generatori {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .dashboard-generatori {
    grid-template-columns: 1fr;
  }

    .dashboard-header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .dashboard-header-left {
    flex-direction: column;
  }

  .campagne-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .campagna-card {
    width: 95%;
    max-width: 500px;
  }
}
