.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modale-mostro {
  background: #1A1F2B;
  padding: 2rem;
  border-radius: 10px;
  width: 800px;
  color: #F2F2F0;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.modale-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icone-header button {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #F2F2F0;
  cursor: pointer;
}

.tab-bar {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
}

.tab-selector button {
  margin-right: 0.5rem;  
}
.tab-selector .attiva {
  color: #D4AF37;
}

.tab-bar button {
  background: transparent;
  border: 1px solid var(--color-muted);
  color: var(--color-muted);
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.4rem 0.8rem;

}

.tab-bar .active {
  font-weight: bold;
  color: #D4AF37;
  border-bottom: 2px solid #D4AF37;
}

.tab-content {
  margin-top: 1rem;
}

.field-group {
  margin-bottom: 1rem;
}

.field-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.field-group input,
.field-group textarea {
  width: 100%;
  padding: 0.4rem;
  background: #2d2d36;
  border: 1px solid #6E4F9E;
  border-radius: 6px;
  color: #F2F2F0;
}
.stat-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.stat-box {
  background-color: #2e2e3a;
  border: 2px solid #6E4F9E;
  border-radius: 10px;
  padding: 1rem;
  width: 166px;
  text-align: center;
  color: #F2F2F0;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.stat-title {
  font-weight: bold;
  font-size: 1rem;
  color: #D4AF37;
  margin-bottom: 0.5rem;
}

.stat-score {
  font-size: 1.8rem;
  font-weight: bold;
}

.stat-box input{
  width: 55px;
}

.stat-mod {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.stat-abilita {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  text-align: left;
}
.gruppo-attacco input {
  flex: 1;
}

.gruppo-attacco textarea {
  margin-top: 0.5rem;
}
